.u-section-1 {
  background-image: url("images/fondocortado_Mesadetrabajo1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 974px;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 5rem;
  margin: 149px 579px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Montserrat;
  font-size: 1.875rem;
  margin: 56px 600px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 322px;
  margin: 40px 579px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 400px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 159px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 159px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 294px;
}

.u-section-2 .u-text-1 {
  font-family: Montserrat;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 590px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 88px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 458px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 367px;
  width: 504px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  font-family: Montserrat;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-family: Montserrat;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    width: 445px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 335px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 274px;
  }
}.u-section-4 {
  background-image: url("images/degradado_Mesadetrabajo1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 410px;
}

.u-section-4 .u-text-1 {
  font-family: Montserrat;
  font-weight: 700;
  width: 674px;
  margin: 60px auto 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.5rem;
  font-weight: 700;
  border-style: none;
  background-image: none;
  align-self: center;
  margin: 59px 289px 0 653px;
  padding: 10px 24px 10px 22px;
}

.u-section-4 .u-btn-2 {
  font-size: 1.5rem;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: -59px auto 0 289px;
  padding: 10px 53px 11px 52px;
}

.u-section-4 .u-text-2 {
  font-family: Montserrat;
  margin: 8px 300px 40px 663px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 22px;
    margin-left: 22px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 189px;
    margin-left: 553px;
    width: 198px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 189px;
  }

  .u-section-4 .u-text-2 {
    width: 177px;
    margin-left: 563px;
    margin-right: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 79px;
    margin-left: 378px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 145px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 453px;
    margin-right: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
    margin-left: 198px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 363px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 71px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 163px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 542px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 48px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 40px auto 0;
  padding: 9px 22px 11px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 81px 63px 0;
}

.u-section-5 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 48px auto 60px;
  padding: 9px 22px 11px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    text-transform: none;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }
}